<!DOCTYPE html>
<html>
  <head>
    <title>Shaun Koo</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
  <header>
    <div class="container">
      <h1 class="logo">Shaun Koo</h1>
      <strong><nav>
        <ul class="menu">
          {% if login %}
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('resume') }}">Resume</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
          {% else %}
          <li><a href="{{ url_for('login') }}">Login</a></li>
          {% endif %}
        </ul>
      </nav></strong>
    </div>
  </header>
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
     
  </body>
</html>