{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Resume<h2>
    <h3>This is my resume page<h3>
    <h4> 
<pre> 
Experience:
Junior Engineer, SPS Commerce
Parsippany, New Jersey — February 2013 - Present
• Maintaining production systems and resolving corporate wide system issues.
• Providing support to business teams on data quality solutions and ETL processes.
• Responsible for being the liaison between development teams and business units 
  to develop, test, and maintain BI products and ETL solutions.
• Subject-matter-expert in POS (point-of-sale) platform, warehouse systems, and BI dashboards.
• Writing SQL queries to resolve warehouse and data issues.
• Collaborating with operation and warehousing teams on time-sensitive production projects.

Accomplishments
●	Developed the company's first internal production system diagram.
●	Nominated for Q2 best performance.
●	Successfully led, organized, and executed data cleanup on a mission critical file production server.

Student Consultant, Rochester Institute of Technology
Rochester, New York — March 2012 - May 2012
• Elicited requirements through client interviews.
• Conducted research on the commercialization viability of Machine-to-Machine technology.
• Provided strategic options and final recommendation to client through a presentation and report.

IT Development Intern, FEMA
Assis, Sao Paulo — September 2011 - February 2012
• Designed and coded several application modules using MVC pattern and agile methodology.
• Assisted in the integration of the web application system.
• Tested several application modules using the JUnit framework.
• Assisted in the generation of reports using JasperForge.


Accomplishments
●	Developed the Social Administration Web Application in 6 months.
●	Developed the Alumni Online Management Portal in 1 month.
●	Picked up working knowledge of JSF and Ajax PrimeFaces in 1 month.

Network Services Intern, HBO
New York, New York— May 2011 - August 2011
• Upgraded and tested all polycom video conferencing equipment within HBO.
• Designed HBO's new disaster recovery site and existing data center.
• Activated all network ports located within the Time Life Building.
• Assisted in providing direct network support to all HBO offices within New York in
  analyzing,troubleshooting, and resolving network related issues. 
• Attended and participated in regularly scheduled team meetings.
• Assisted in a project to change IP addresses within HBO.
• Assisted in building a small office network for HBO's payroll department.

Accomplishments
●	Provided network support to 2,000 employees within HBO.
●	Completed upgrade of POLYCOM video conferencing units under 2 weeks. 
●	Resolved all network issues within the Time Life building independently.</pre></h4>
  </div>
{% endblock %}